
// Colors

$red-deep: #570F0A;


// Mix-ins
@mixin rotate($angle) {
  -webkit-transform: rotate($angle);
  -moz-transform: rotate($angle);
  -ms-transform: rotate($angle);
  -o-transform: rotate($angle);
  transform: rotate($angle);
}

@mixin skewY($angle) {
  -webkit-transform: skewY($angle);
  -moz-transform: skewY($angle);
  -ms-transform: skewY($angle);
  -o-transform: skewY($angle);
  transform: skewY($angle);
}

@mixin skew($x, $y) {
  -webkit-transform: skewY($y) skewX($x);
  -moz-transform: skewY($y) skewX($x);
  -ms-transform: skewY($y) skewX($x);
  -o-transform: skewY($y) skewX($x);
  transform: skewY($y) skewX($x);
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Chivo', sans-serif;
}

table {
  border: 1px solid #000000;
  border-radius: 10px;
  display: inline-table;
  border-spacing: 0px;

  tr:nth-child(2n) {
    background-color: #DDDDDD;
  }

  td, th {
    padding: 5px 10px;
  }
}

a {
  color: inherit;
}

.top-nav-bar {
  position: absolute;
  z-index: 1;

  .menu-icon {
    width: 60px;
    height: 60px;
    margin: 25px 0 0 25px;
    background: url('../resources/menu-white-ro.svg') no-repeat;
  }
  .menu-icon:hover {
    background: url('../resources/menu-white.svg') no-repeat;
    cursor: pointer;
  }
}

.video-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;

  video {
    min-height: 100%;
    min-width: 100%;
  }

  .filter {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: transparentize(#000000, .4);
  }
}

.splash-fullscreen {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: #FFFFFF;
}

.splash-fullscreen:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.splash-content {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;

  h1 {
    margin: 30px 0;
    font-size: 4em;
  }

  p {
    max-width: 600px;
  }
}

.page-1 {
  background-color: #FFFFFF;
  color: #000000;
}

.portrait {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #DDDDDD;
  display: inline-block;
  margin-bottom: 30px;
}

.spacer {
  width: 100%;
  height: 50px;
}
