
// Colors
$color-one: #9CDBCD;
$color-two: #BDB5E8;
$color-three: #DBB0AB;
//$pink-light: #BF5849;


body {
  padding: 0;
  margin: 0;
  font-family: 'Chivo', sans-serif;
  //color: #FFFFFF;
  background-color: #333333;
}

table{
  border: 1px solid #000000;
  border-radius: 10px;
  display: inline-table;
  border-spacing: 0;

  tr:nth-child(2n) {
    background-color: #DDDDDD;
  }

  td, th {
    padding: 5px 10px;
  }
}

a {
  color: inherit;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  margin: 20px 10px;
  border: 1px solid black;
  border-radius: 10px;
}


.splash-fullscreen {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  visibility: hidden;

  position: absolute;
  left: 0;
  top: 0;
}

.splash-fullscreen.current {
  visibility: visible;
}

.splash-fullscreen:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.splash-content {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;

  p {
    max-width: 600px;
  }
}

.top {
  z-index: 500;
}

.pg-1 {
  background-color: $color-one;
}

.pg-2 {
  background-color: $color-two;
}

.pg-3 {
  background-color: $color-three;
}



// ------------------------- Animations ------------------------- //


// Key Frames

@keyframes scaleDown {
  from {}
  to {
    opacity: 0;
    transform: scale(0.85);
  }
}

@keyframes moveFromLeft {
  from {
    transform: translateX(-100%);
  }
}

@keyframes moveFromRight {
  from {
    transform: translateX(100%);
  }
}

// Animation Classes

.anim-scale-down {
  animation: scaleDown 0.7s ease;
}

.anim-move-from-left {
  animation: moveFromLeft 0.6s ease;
}

.anim-move-from-right {
  animation: moveFromRight 0.6s ease;
}
