/* line 8, ../sass/style.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Chivo', sans-serif;
  background-color: #333333;
  overflow: hidden;
}

/* line 16, ../sass/style.scss */
table {
  border: 1px solid #000000;
  border-radius: 10px;
  display: inline-table;
  border-spacing: 0;
}
/* line 22, ../sass/style.scss */
table tr:nth-child(2n) {
  background-color: #DDDDDD;
}
/* line 26, ../sass/style.scss */
table td, table th {
  padding: 5px 10px;
}

/* line 31, ../sass/style.scss */
a {
  color: inherit;
}

/* line 36, ../sass/style.scss */
.splash-fullscreen {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: #000000;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 49, ../sass/style.scss */
.splash-fullscreen.current {
  visibility: visible;
}

/* line 53, ../sass/style.scss */
.splash-fullscreen:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

/* line 60, ../sass/style.scss */
.splash-content {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
}
/* line 65, ../sass/style.scss */
.splash-content h1 {
  margin: 30px 0;
  font-size: 4em;
}
/* line 70, ../sass/style.scss */
.splash-content p {
  max-width: 600px;
}

/* line 75, ../sass/style.scss */
.top {
  z-index: 500;
}

/* line 79, ../sass/style.scss */
.pg-1 {
  background-color: #E5F5D3;
}

/* line 83, ../sass/style.scss */
.pg-2 {
  background-color: #B8D2D6;
}

/* line 87, ../sass/style.scss */
.pg-3 {
  background-color: #E6D8E8;
}

@keyframes scaleDown {
  to {
    opacity: 0;
    transform: scale(0.7);
  }
}
@keyframes moveFromLeft {
  from {
    transform: translateX(-100%);
  }
}
@keyframes moveFromRight {
  from {
    transform: translateX(100%);
  }
}
/* line 120, ../sass/style.scss */
.anim-scale-down {
  animation: scaleDown 0.7s ease;
}

/* line 124, ../sass/style.scss */
.anim-move-from-left {
  animation: moveFromLeft 0.6s ease;
}

/* line 128, ../sass/style.scss */
.anim-move-from-right {
  animation: moveFromRight 0.6s ease;
}
